body {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  width: 100%;
}

canvas {
  border: 1px solid rgb(70, 70, 70);
}
canvas:hover {
  border-color: rgb(0, 162, 236);
}
